.header {
    background: $dark-blue;

    &__title {
        color: white;
        text-decoration: none;
    }

    &__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: $s-size 0;
    }

    h1 {
        margin: 0;
    }
}