// rem - good for accessibility

html {
    font-size: 62.5%; 
    // this makes 
    // 2.2rem become 22px
    // 1.6rem become 16px 
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
    &:disabled {
        cursor: default;
    }
}

.is-active {
    font-weight: bold;
}